@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.features {
    background: #000133;
}
.feature_outlet{
    background: #fd297a1a;
}
.comingSoon {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: rgb(0, 1, 51);
    background: -moz-linear-gradient(297deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    background: -webkit-linear-gradient(297deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    background: linear-gradient(297deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000133", endColorstr="#9f0078", GradientType=1);
}


.form-control:focus,.form-select:focus {
    border: 1px solid #ced4da !important;
    box-shadow: none!important;
}

@media (min-width: 576px) {
    .modal-dialog {
        // max-width: 40vw!important;
        // max-height:34em!important;
        // margin: 7.75rem auto!important;
    }
}

// @import "bootstrap/scss/bootstrap.scss";
