.navBar {
    background: rgb(0, 1, 51);
   
}

.burgerMenu:focus {
    border: 0;
}
.navBtn {
    background-color: #d9165f;
    color: white;
    border-radius: 8px;
    transition: all 200ms ease-in-out;
    border: none;
}

.navBtn:hover {
    background-color: white;
    color: #758283;
    border-radius: 8px;
}

.navBtn.booking {
    border: 1px solid transparent;
}
.navBtn.booking:hover {
    border: 0.5px solid #758283;
}

.navItem {
    color: #fff;
}
.navItem:hover {
    color: #758283;
}
.sidebarItem {
    cursor: pointer;

    a {
        color: #fff;
    }
    transition: all 250ms ease-in-out;

    &:hover {
        background-color: #fff;
        a,
        .navIcon {
            color: #1f2121;
        }
    }

    .navIcon {
        color: #fff;
    }
}
.offCanvasMenu {
    background: rgb(0, 1, 51);
    background: -moz-linear-gradient(128deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    background: -webkit-linear-gradient(128deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    background: linear-gradient(128deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000133",endColorstr="#9f0078",GradientType=1);
}
