// @import "../../../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/bootstrap";

.footerSection {
    // background: #242B2E;
    background: rgb(0, 1, 51);
    background: -moz-linear-gradient(142deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    background: -webkit-linear-gradient(142deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    background: linear-gradient(142deg, rgba(0, 1, 51, 1) 34%, rgba(159, 0, 120, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000133",endColorstr="#9f0078",GradientType=1);
    color: #fff;
    // color: #5DA3FA;
    font-weight: bold;
    .footerCard {
        flex: 1 1 0%;
        padding: 2em;
        text-align: left;
        p {
            color: #cad5e2c1;
        }
        .linkList {
            padding-left: 0 !important;
            a {
                color: #cad5e2c1;
                &:hover {
                    color: #cad5e2;
                }
            }
        }
    }
    .credit {
        background: #03203C;
        text-align: center;
        padding: 1em 0;
    }
}
