.testimonialNav {
    transition: all 250ms ease-in-out;
    &:hover {
        background: #0d0d0d;
        color: #cad5e2;
    }
}
.testimonialCardSlider {
    .testimonialCard {
        height: 16em !important;
        transition: all 200ms ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: #242b2e;
            color: white;
        }
    }
}
.testimonialMain {
    overflow-x: hidden;
}
